.div-center {
    text-align: center;
    padding-top: 40px;
    padding-bottom: 40px;
}

.div-center h1, .div-center h2 {
    font-size: 40px;
    padding-bottom: 40px;
}

.div-center input {
    color: #000;
    border-radius: 8px;
}

.div-center select {
    color: #000;
}

.h2-font {
    font-size: 40px;
    padding-bottom: 40px;
}

.input-color {
    color: #000;
}

.center {
    margin: auto;
    width: 50%;
    text-align: center;
    margin-top: 30px;
    border: 3px solid #fff;
}

.border {
    border: 1px solid #fff;
}

label {
    display: inline-block;
    width: 300px;
    text-align: left;
}

.img-label {
    text-align: left;
    width: 310px;
}

.label-container {
    padding-bottom: 20px;
}

.label-container button {
    background-color: #fff;
    padding: 2px 20px;
    border-radius: 4px;
    color: #000;

    transition: all ease-in-out .3s;
}

.label-container button:hover {
    background-color: #ffffff25;
    color: #fff;
}

.choose-image-input {
    width: 135px;
    display: inline-block;
    padding: 40px;
    margin-left: 50px;
    margin-top: 20px;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: #f8f9fa;
    color: #fff;
    font-size: 14px;
    cursor: pointer;
}

.file-name-feedback {
    color: #fff;
    font-size: 14px;
    font-style: italic;
    margin-top: 8px;
    width: 120px;
}
.show-image-container {
    padding-top: 40px;
    text-align: center;
}

.label-container select {
    width: 200px;
    border-radius: 8px;
}

.tr-products {
    font-size: 1.4rem;
}

.th-products {
    padding: 15px;
}

#imageModal img {
    max-width: 300px;
    max-height: 400px;
    margin: 0 auto;
    border-radius: 8px;
}

#imageModal button {
    font-size: 24px;
    font-weight: bold;
    color: #555;
    cursor: pointer;
}

#imageModal button:hover {
    color: black;
}

.modal-image {
    width: 300px !important;
    height: 400px !important;
    margin: 0 auto;
    border-radius: 0 !important;
}

.tr-container th {
    font-size: 1.2rem;
}

.delivery-confirm {
    color: green;
    font-weight: 700;
    font-size: 1.1rem;
}

/* email form  */

.div-center {
    text-align: center;
    margin-bottom: 20px;
}

.email-form {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
}

.email-form .form-group {
    margin-bottom: 15px;
}

.email-form label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    color: #fff;
}

.email-form textarea {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    resize: vertical;
    color: #000;
}

.email-form .btn-submit {
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    color: #fff;
    background-color: #007bff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
}

.email-form .btn-submit:hover {
    background-color: #0056b3;
}
